/******GENERAL*******/

h1 {
	font-family: 'Poiret One', cursive;
}

body {
	margin: 0;
	background-color: #e8e9ed;
}

/******NAVIGATION******/

.navigationBarTop {
	background-color: #2196F3;
	height: 70px;
}

.fa-search {
	color: white;
	padding-top: 5px;
	padding-left: 18px;
}

.fa-history {
	color: white;
	float: right;
	padding-top: 5px;
	padding-right: 18px;
}

.logoImage {
	padding-left: 30%;
}

.fa-search:hover, .fa-history:hover { 
    text-shadow: 2px 2px #212121;
}

/******MAIN CONTENT******/





















/***** GRID OF 3 COLUMNS FOR NAV BAR *****/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}