/*div {
    border: 1px solid Chocolate;
}*/

/******GENERAL*******/

h3 {
	font-family: 'Poiret One', cursive;
	color: white;
	float: right;
}

body {
	margin: 0;
	background-color: #e8e9ed;
}


/******NAVIGATION******/

.navigationBarTop {
	background-color: #2196F3;
	height: 70px;
	z-index: -1;
}

.fa-search {
	color: white;
	padding-top: 5px;
	padding-left: 18px;
}

.fa-history {
	color: white;
	float: right;
	padding-top: 5px;
	padding-right: 18px;
}

.logoImage {
	padding-left: 30%;
}

.fa-search:hover, .fa-history:hover { 
    text-shadow: 2px 2px #212121;
}

.fa-history:active, .fa-search:active {
	background-color: #878787;
  	color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.fa-car {
	color: white;
	margin-right: 15px;
	float: right;
	
}

/******MAIN CONTENT******/

.outerleftHorizontal {
	background-color: #1976D2;
	height: 950px;
	width: 4%;
	display: inline-block;
	margin-right: -6px;
	position: relative;
	vertical-align: top;
}

.verticalLineNav {
	margin: 0;
    height: 950px;
    width: 3px;
    float: right;
    background-color: #BBDEFB;
    position: relative;
    vertical-align: top;
}

.fa {
	margin-top: 20px;
}

.fa-history {
	margin-right: 5px;
} 


.innerleftHorizontal {
	background-color: #2196F3;
	height: 950px;
	width: 10%;
	display: inline-block;
	position: relative;
	margin-right: -6px;
	vertical-align: top;

	/*BOX SHADOW*/

	-webkit-box-shadow: 12px 0px 23px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 12px 0px 23px -11px rgba(0,0,0,0.75);
	box-shadow: 12px 0px 23px -11px rgba(0,0,0,0.75);
}

.topBarHorizontal {
	background-color: #E040FB;
	height: 100px;
	width: 1640px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: -1;

	/*BOX SHADOW*/
	
	-webkit-box-shadow: 0px -10px 56px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -10px 56px 7px rgba(0,0,0,0.75);
	box-shadow: 0px -10px 56px 7px rgba(0,0,0,0.75);
}

.bodyWrapper {
	display: inline-block;
    vertical-align: top;
    position: absolute;
    margin-left: 5px;
}

.contentWrapper {
	width: 70%;
	height: 700px;
	margin: 70px 200px;
	background-color: #f8f8ff;
	display: inline-block;
	position: relative;
	z-index: 5;
	vertical-align: top;

	/*ROUNDED CORNERS*/
	border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
	border: 0px solid #000000;

	/*BOX SHADOW*/
	-webkit-box-shadow: 0px 0px 82px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 82px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 82px -16px rgba(0,0,0,0.75);
}














/***** GRID OF 3 COLUMNS FOR NAV BAR *****/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}